.auth-form {
    width: 90%;
    margin: auto;
    padding: 2rem 3rem;
    border: 3px solid #4e97978f;
    border-radius: 5px;
  }
  
  @media (min-width: 768px) {
    .auth-form {
      width: 40rem;
    }
  }
  