.user-card{
    width: 90%;
    max-width: 600px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 8px;
    margin: 1rem auto;
}

.user-card__text{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
}