.main-nav {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0 1.5rem;
  display: none;
}

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo-text{
  text-decoration: none;
  color: white;
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  padding: 8px;
  display: inline-block
}

.logo-text:hover{
  color:rgb(238, 238, 238)
}
