.navigation-item {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 1.5rem;
}

.navigation-item a {
  text-decoration: none;
  color: white;
}

.navigation-item.mobile {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.navigation-item.mobile a {
  color: #3b0062;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  color: #5a5a5a;
}

.navigation-item:last-of-type {
  padding-right: 0;
}

.navigation-item button {
  font: inherit;
  background: rgb(252, 105, 105);
  padding: 12px 17px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.navigation-item button:hover,
.navigation-item button:active {
  background: rgb(255, 138, 138);
}
