.paginator__controls {
  display: flex;
  justify-content: center;
}

.paginator__control {
  width: 5rem;
  padding: 0.5rem 0;
  margin: 2rem 1rem;
  border: 1.5px solid #3b3b3b;
  border-radius: 8px;
  background: transparent;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  color: #3f3f3f;
}

.paginator__control:hover,
.paginator__control:active {
  color: #fab83f;
  border-color: #fab83f;
}

.paginator__control:focus {
  outline: none;
}
